<!-- <!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About page.........</h1>
    <hr>

    <div class="host-tag" th:insert= "~{base :: parent(~{::section}) }">
        <section>This is dynamic page</section>

    </div>
    
</body>
</html> -->

<!DOCTYPE html>
<html lang="en" th:replace= "~{base :: parent(~{::#content},~{::title},
~{::script}) }">
<head>
   <title>About page</title>
</head>
<body>
    <h1>Vaibhav about page</h1>
    <div id="content">
        <h1>This is welcome about page</h1>

    </div>

    <script>
    console.log("about page");
</script>
    
</body>
</html>