<!-- <div class="parent-fragment"
    th:fragment="parent(content)">
    <h1>Vaibhav Tambe</h1>
    <p>Ekodisagaj vaijapur sambhajinagar maharashtra</p>

    <div th:replace="${content}"></div>

    <div th:fragment>
        <h1>Test</h1>
    </div>



</div> -->

<!DOCTYPE html>
<html 
lang="en"
th:fragment="parent(content,title,script)"
 xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-replace="${title}">SCM</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />

</head>
<body>
    Base page Content

    <section data-th-replace= "${content}"></section>
    

<!--Flow bite js-->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    
    <th:block data-th-replace="${script}"></th:block>

</body>
</html>