<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />

    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
    <style>
      
    </style>
</head>
<body>
    <div class="container bg-gray-200 w-1/2 ">
        <h1 class="text-2 font-bold" data-th-text="${name}">Welcome to home page 1</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere id, harum repudiandae enim soluta eum modi doloribus quas dolorum illo alias quibusdam animi iure, distinctio doloremque veritatis voluptatum? Atque, quaerat.</p>
    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>

</body>

</html>